<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>188764480241-mbr4uhmo9q33l7qqke5o0642rp9fi8gs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.188764480241-mbr4uhmo9q33l7qqke5o0642rp9fi8gs</string>
	<key>API_KEY</key>
	<string>AIzaSyAJtuLj-140fyI5amEEftjs5v7TTqC5GGo</string>
	<key>GCM_SENDER_ID</key>
	<string>188764480241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAuth</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-6bd5e</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-6bd5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188764480241:ios:65b4e0ea77b0c1cb43ff50</string>
</dict>
</plist>